*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body{
    color: white;
    background-color: black;
}
.title{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 30px;
}

.container {
  min-width: 450px;
  height: 300px;
  background-color: #ffffff;
  padding: 50px 35px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 20px 25px rgba(15, 0, 230, 0.18);
  outline: none;
  color: black;
}

.result {
    font-family: "DigitalFont", Arial, sans-serif; /* Specify the desired font family */
  font-size: 48px; /* Adjust the font size as needed */
  color: #000000; /* Set the font color */
  background-color: #ffffff; /* Set the background color */
  margin-top: 10px;
}


.time-set{
    font-family: "DigitalFont", Arial, sans-serif; /* Specify the desired font family */
  font-size: 20px; /* Adjust the font size as needed */
  color: #000000; /* Set the font color */
  background-color: #ffffff; /* Set the background color */
  font-weight: bold;
margin-top: 30px;
}


button{
  padding: 11px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
  font-size: 13px;
}


button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}
@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #0f0f0f66;
 }
 70% {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
 }
 100% {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
 }
}